/* Core Styles */

body {
  background-color: #eeeeee;
  color: #222831;
  font-size: 1.1em;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  font-size: 1em;
  margin: 0;
  padding: 1em 0.5em;
}

.content {
  padding: 0 0 1em 0;
}

/* Title */

#title-section {
  color: white;
  min-height: 450px;
  text-align: center;
}

#title-section .bg-image {
  background: url('/img/beta.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 450px;
  z-index: -11;
  }

  #title-section h1 {
  padding-top: 100px;
  padding-bottom: 0;
  }

  /* What We Do */

#whatwedotext {
}

.card-content p {
  text-align: left;
}

.card-content h3 {
  padding: 0.5em;
}

  /* Section B */

#section-b {
  color: white;
  background-color: #393e46;
}

#section-b p {
  text-align: left;
}

  /* About Us */

#aboutus {
  text-align: center;
}

#aboutus img {
  height: auto;
  width: 100%;
}

#aboutus p {
  text-align: left;
}

  /* Newsletter */

  #newsletter {
  color: white;
  background-color: #222831;
  padding: 1em;  }

  .submissionbox {
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1em;
  margin: 0.1em 0;
  padding: 0.2em 0.3em;
  width: 60%;
}

.submitbutton {
  font-size: 1em;
  padding: 0.2em 0.3em;
}

  /* Social Media */

#bottombar {
  background-color: #00adb5;
  color: white;
  padding: 1em;
  text-align: center;
}

#bottombar img {
  display: inline-block;
  height: 48px;
  width: auto;
}

#bottombar img:hover {
  opacity: 0.65;
}

#joelangley {
  font-size: 0.6em;
  padding: 3em 0 0 0;
}

/* Media Queries */

@media (min-width: 700px) {

h1 {
  font-size: 3em;
}

#whatwedogrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}

#whatwedogrid .card {
  padding: 0 0.3em;
}

.content {
  padding: 1em 1em;
}

}

@media (min-width: 1200px) {

  .content {
    padding: 2em 5em;
  }

  #quote {
    padding: 1em 0;
  }

  #secbauwrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
